@import 'vars';

.sidebar {
    background-color: #{$highlight-bg-color};
    position: fixed;
    top: 0;
    bottom: 0;
    width: #{$sidebar-width};
}

.brand {
    @include large {
        display: block;
        text-align: center;
        padding: 20px 0;
    }

    display: none;
}

.brand img {
    max-width: 200px;
}

.menu-container ul {
    list-style-type: none;
    padding: 0;
}

.menu-container li {
    display: block;
    list-style-type: none;
    padding: 0;
}

.menu-container a {
    display: block;
}

.menu-groups a {
    font-size: 18px;
    line-height: 1.5rem;
    padding: 10px 25px 10px 25px;
    color: #fef6f5;
}

.menu-pages a {
    font-size: 16px;
    line-height: 1.5rem;
    padding: 7px 25px 7px 45px;
    color: #fef6f5;
}

.menu-subpages a {
    font-size: 14px;
    line-height: 1.5rem;
    padding: 7px 25px 7px 65px;
    color: #fef6f5;
}
