@import "vars";

.footer-container {

    @media (min-width: 1040px) {
        max-width: calc(#{$gallery-card-width} * 4);
    }

    @media (min-width: 780px) and (max-width: 1039px) {
        max-width: calc(#{$gallery-card-width} * 3);
    }

    @media (min-width: 520px) and (max-width: 779px) {
        max-width: calc(#{$gallery-card-width} * 2);
    }

    @media (min-width: 281px) and (max-width: 519px) {
        width: 300px;
    }

    @media (max-width: 280px) {
        width: calc(#{$gallery-card-width});
    }


    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
