// screen breakpoints
$extra-large-min-width: 1200px !default;
$large-min-width: 992px !default;
$medium-min-width: 768px !default;
$small-min-width: 576px !default;

$gallery-card-width: 260px !default;

// colors
$default-highlight-color: #999999;
$pink-highlight-color: #99657a;
$violet-highlight-color: #7f6599;
$blue-highlight-color: #657d99;
$green-highlight-color: #65996f;
$red-highlight-color: #996565;

$default-text-color: #333;
$light-text-color: #666;

// mixin media
@mixin extra-large {
    @media (min-width: #{$extra-large-min-width}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large-min-width}) and (max-width: #{$extra-large-min-width}){
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium-min-width}) and (max-width: #{$large-min-width}) {
        @content;
    }
}

@mixin small {
    @media (max-width: #{$medium-min-width}) {
        @content;
    }
}
